p {
  margin: 0;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  color: hsla(0deg, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(244deg, 38%, 16%);
  margin: 96px 24px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
main picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: hsl(277deg, 64%, 61%);
  width: 100%;
}
main picture img {
  width: 100%;
  mix-blend-mode: multiply;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 75%;
}
main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 32px;
}
main article h2 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-size: 29px;
  font-weight: 700;
}
main article h2 span {
  color: hsl(277deg, 64%, 61%);
}
main article #description {
  line-height: 24px;
}
main article .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  gap: 32px;
}
main article .stats-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
main article .stats-container .stats p {
  font-family: "Inter", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-size: 23px;
  font-weight: 700;
}
main article .stats-container .stats .heading {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  color: hsla(0deg, 0%, 100%, 0.6);
  letter-spacing: 2px;
}

@media (min-width: 576px) and (max-width: 767px) {
  main {
    margin: 96px 64px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    margin: 128px 96px;
  }
}
@media (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  main {
    max-width: 1120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  main article {
    padding: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main article h2 {
    font-size: 37px;
  }
  main article #description {
    margin-right: 56px;
  }
  main article .stats-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 56px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=styles.css.map */