// Variables
$very_dark_blue: hsl(233, 47%, 7%);
$dark_desat_blue: hsl(244, 38%, 16%);
$soft_violet: hsl(277, 64%, 61%);
$white_heading: hsl(0, 0%, 100%);
$white_para: hsla(0, 0%, 100%, 0.75);
$white_stat_headings: hsla(0, 0%, 100%, 0.6);

$heading_size: 29px;

p {
  margin: 0;
}

body {
  background-color: $very_dark_blue;
  color: $white_para;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  background-color: $dark_desat_blue;
  margin: 96px 24px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;

  picture {
    display: inline-flex;
    background-color: $soft_violet;
    width: 100%;

    img {
      width: 100%;
      mix-blend-mode: multiply;
      object-fit: cover;
      opacity: 75%;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;

    h2 {
      margin: 0;
      font-family: 'Inter', sans-serif;
      color: $white_heading;
      font-size: $heading_size;
      font-weight: 700;

      span {
        color: $soft_violet;
      }
    }

    #description {
      line-height: 24px;
    }

    .stats-container {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      gap: 32px;

      .stats {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          font-family: 'Inter', sans-serif;
          color: $white_heading;
          font-size: 23px;
          font-weight: 700;
        }

        .heading {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 12px;
          color: $white_stat_headings;
          letter-spacing: 2px;
        }
      }
    }

  }
}

@media(min-width: 576px) and (max-width: 767px) {
  main {
    margin: 96px 64px;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  main {
    margin: 128px 96px;
  }
}

@media(min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main {
    max-width: 1120px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: left;

    article {
      padding: 64px;
      justify-content: space-between;

      h2 {
        font-size: 37px;
      }

      #description {
        margin-right: 56px;
      }

      .stats-container {
        flex-direction: row;
        gap: 56px;
        margin-top: 40px;
      }
    }
  }
}